:root {
    --black:#222222;
    --dark-black: #222224;

    
    --light-pink: #F1E4E6;
    
    --light-grey: #F8F8F8;
    --dark-pink: #F16D7F;
    --pink: #F8F3F4;

}

 
  .page{
    font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;

}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.header {
    background-color: var(--black);
}
.header__nav {
    display: none;
}

.header__wrp{
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}
.header__logo{
    margin: 0 41px 0 0;
}
.header__link{
    margin: 0 0 0 31px;
}
.header__menu-btn{
    border: none;
    background-color: transparent;
}
.brand{
    display: flex;
    background-color: var(--light-pink); 
    flex-grow: 1;
    
}
.brand__wrp{
    display: flex;
    align-items: center;
}
.brand__title{
    
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;
           
}

.brand__title::before{
    width: 12px;
    height: 92px;
    background-color: var(--dark-pink);
    content: "";
    position: absolute;
    left: -40px;
    

}
.brand__subtitle{
    display: flex;
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    ;
}
.brand__subtitle-pink{

    color: pink;
 align-items: flex-end;

}

.sales{
    padding-top: 65px;
    
}


.sales__list {
    
    display: flex;
    flex-wrap: wrap;
     justify-content: space-around; 
     
   
}

.sales__text{

    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: white;

}
.sales__item-title{

    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    color: pink;
}

.sales__item-woman{
    display: flex;
    align-items: center;
    justify-content: center;
background-image: url(../img/for_woman.jpg);
    width: 360px;
    height: 260px;
    margin-bottom: 30px;
}
.sales__item-men{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/for_man.jpg);
    width: 360px;
    height: 260px;
    margin-bottom: 30px;
}
.sales__item-kids{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/for_kids.jpg);
    width: 360px;
    height: 260px;
    margin-bottom: 30px;
}
.sales__item-accesories{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/accecories.jpg);
    width: 1138px;
    height: 180px;
    margin-bottom: 30px;
}
.sales__item-woman{
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sales__item-men{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sales__item-kids{
        display: flex;
        align-items: center;
        justify-content: center;
    }
.sales__item-accesories{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sales__text{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.sales__item-title{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cards__product-list {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-around;
}
.cards__product-1{
    background-color: var(--light-grey);
    height: 581px;
    width: 360px;
    margin-bottom: 30px;

}

.cards__product-2{
   
   
    background-color: var(--light-grey);
    height: 581px;
    width: 360px;
    margin-bottom: 30px;

}
.cards__product-3{
    background-color: var(--light-grey);
    height: 581px;
    width: 360px;
    margin-bottom: 30px;

}
.cards__product-4{
    background-color: var(--light-grey);
    height: 581px;
    width: 360px;
    margin-bottom: 30px;

}
.cards__product-5{
    background-color: var(--light-grey);
    height: 581px;
    width: 360px;
    margin-bottom: 30px;

}
.cards__product-6{
    background-color: var(--light-grey);
    height: 581px;
    width: 360px;
    margin-bottom: 30px;

}

.cards__heading{
    margin-left: 17px;
    margin-right: 29;
    margin-top: 24px;
}
.cards__item-text {
    margin-left: 17px;
    margin-right: 29;
    margin-top: 13px;
}
.cards__item-price{
    margin-left: 17px;
    margin-top: 18px; 
}

.cards__heading{
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}

.cards__item-text{
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #000000;
}
.cards__item-price{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #F16D7F;
}
.cards{
    margin-top: 96px;
}

.cards__title{
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #222222;
    ;
   }
.cards__text{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #9F9F9F;
    ;
}


.aside__wrp{
    display: flex;
    align-items: center;
    background-color: var(--black); 
    min-height: 341px;
    flex-grow: 1;
    justify-content: space-around;
    
}
.aside__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.aside__list{
    display: flex;
   flex-direction: column;
   justify-content: space-around;

    }
.aside__items-text{
    display: flex;
    align-items: center;
    margin-right: 30px;
    
    
   font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #FBFBFB;
    
  
  
}
.aside__heading{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FBFBFB;
   
    ;

}
.aside__img{
    margin-bottom: 28px;
  
  
}

.aside__logo{
display: flex;
    align-items: center;
    justify-content: center; 
}
.aside__subtitle{
    display: flex;
    align-items: flex-end;
}
.aside__list{
    margin-top: 103px;
    margin-bottom: 104px;


}
.sidebar{
    display: flex;
    background-image: url(../img/sidebar.jpg);
    background-size: cover;
    width: 100%;
    flex-wrap: wrap;
    min-height: 448px;
    justify-content: center;
   
}
.sidebar__items{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.sidebar__tagline{
    display: flex;
}
.sidebar__desk{
display: flex;
}
.sidebar__subtitle{
    display: flex;
}

.sidebar__list-1{
display: flex;
justify-content: center;
align-content: space-between;
align-items: center;
flex-direction: column;
}
.sidebar__list-2{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
   
    }
.sidebar__form-text{
    display: flex;
justify-content: center;
align-content: space-between;
align-items: center;
flex-direction: column;
}

.sidebar__box-img{
    width: 145px;
    height: 150px;
   
}

.sidebar__form-text{
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    color:#222224;
    text-transform: uppercase;
}

.sidebar__tagline{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color:#222224;
}



.icon{
    fill: white;
}

.header__menu-btn:hover .icon{
fill: #F16D7F;
;
}
.header__link:hover .icon{
    fill: #F16D7F;  
}

.icon:hover{
    fill:#F1E4E6;
    cursor: pointer;
    
}

.cart__wrapper{
    position: relative;
    padding-top: 49px;
    padding-bottom: 95px;
   
 
}
.button{
    border: 1px solid #FF6A6A;
    background: transparent;
    font-size: 16px; 
    padding: 14px 38px 14px 38px;
    position: absolute;
    margin-left: 43%;
}
   
.button-heading{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color:#F26376;
    
}

.button:hover {
    color:red;
   cursor: pointer;        <!-- начать с этого места -->
}
.text-input{
 
    border: none;
    border-radius: 30px 0px 0px 30px;
    background-size: cover;
      background-color: #E1E1E1;
      width: 256px;
      height: 49px;
      margin-top: 32px;
      background-image:url(../img/form_1.jpg);
      padding-left: 22px;
      margin-right: 0px;
      cursor: pointer;
      font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #222224;
 }

.text-input:focus{
    opacity: 0;
}

.form-btn{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
    width: 100px;
    height: 49px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
   
}

.registration{
    display: flex;
    background-color: var(--pink);

    display: flex;
    min-height: 148px;
    justify-content: flex-end;
    align-items: center;
    
}

.container registration__wrp{
    display: flex;
  
}
.registration__heading{
    display: flex;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;

}

.radio-input{
    display: none;
}

.radio-label{
position: relative;
cursor:pointer;
margin: 0 0 0 20px;
}

.radio-label:before{
    position: absolute;
    content: "";
    background-image: url(../img/ellipse.svg);
    width: 17px;
    height: 17px;
    margin-right: 40px;
    left: -20px;
 
}

.radio-input:checked+.radio-label:before{
    background-color: #F26376;
    
}


.user__login-btn{
    display: inline-block;
    width: 167px;
    height: 50px;
    background-image: url(../img/btn_login.png);
    border: none;
    cursor: pointer;

}
.user__login-btn:focus{
    color:darkgray;
}
    
.heading-login-btn{
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 17px;
color: #FFFFFF;
text-transform: uppercase;
}

.first-name{
    display: block;
    width: 365px;
    height: 45px;
    margin-bottom: 20px;
    border: none;
    background-image: url(../img/border.png);
    background-repeat: no-repeat;
    padding-left: 17px;
   
   
}

.email{
    display: block;
    margin-bottom: 20px;
    width: 360px;
    height: 45px;
    border: none;
    background-image: url(../img/border.png);
    background-repeat: no-repeat;
    padding-left: 17px;
}
.password{
    display: block;
    margin-bottom: 15px;
    width: 360px;
    height: 45px;
    border: none;
    background-image: url(../img/border.png);
    background-repeat: no-repeat;
    padding-left: 17px;
}

.details{
    display: block;
    margin-bottom: 20px;
    margin-top: 33px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #222222;
}
.name{
    display: block;
    margin-bottom: 20px;
    margin-top: 64px;
    font-family: Lato;
font-size: 16px;
font-weight: 300;
line-height: 19px;
color: #222222;

}
.user__login-btn{
    display: block;
    margin-top: 39px;
}

.user__gender{
    display: block;
    margin-top: 32px;
}

.more{
font-family: Lato;
font-size: 13px;
font-weight: 300;
line-height: 16px;
color: #B1B1B1;

}



.first-name:focus{
    outline: 0;
    
}

.email{
    outline: 0;
}
    
.password{
    outline: 0;
}


.user__wrp{
    display: flex;
    flex-direction: row; 
    
}

.name-items{
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: #222222;
    text-transform: uppercase;
    
    }

    .user__instruction{
        display: flex;
        margin-top: 64px;
        margin-left: 128px;
       
    }
 

    .loyal{
        margin-top: 22px;
        font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: #222222;
    margin-bottom: 21px;
    }
 

    .checkbox-label{
        display: block;
    }
   
    .checkbox-input{
        display: none;
    }
    
    .checkbox-label{
    position: relative;
    cursor:pointer;
    margin: 0 0 0 23px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: #222222;
    margin-bottom: 16px;
    }
    
    .checkbox-label:before{
        position: absolute;
        content: "";
        background-image: url(../img/checkbox.png);
        width: 20px;
        height: 16px;
        margin-left: -23px;
        margin-right: 23px;
         
    }
    
    .user{
        margin-bottom: 96px;
    }
 
    .footer{
        background-color: #222224;
       
      
        
    }
    .footer__wrp{
        display: flex;
    
        min-height: 79px;
       
     
    
    }
    .footer_list{
        display: flex;
            flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    
    }
    .footer__items-copyright{
        display: flex;
        margin-left: 235px;
        
    }
    
    .footer__items-socials{
        display: inline-flex;
       
        
    }
    .footer_facebook{
        margin-right: 7px;
    }
    .footer__instagram{
        margin-right: 7px;
    }
    .footer__pineterest{
        margin-right: 7px;
    }
    .footer__text-copyright{
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #FBFBFB;
    
    }
    
    